/*-----HEADER-----*/

#logo{
    max-width: 80px;
}


/*-----FOOTER-----*/

footer p{
    color: #FFFFFF;
    padding-top: 15px;
}


/*-----PAGE HOME-----*/

/*slide*/
.acc_slide{
    background-image: url('imgs/motofond.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.acc_slide h1{
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 3.4em;
    text-shadow: 2px 2px 2px #000000;
}

/*form*/
.acc_form{
    padding-top: 50px;
    padding-bottom: 50px;
}

.acc_form h2{
    padding-bottom: 50px;
}